<div class="text-center container h-100">
    <div class="row align-items-center h-100">
        <form class="form-signin" (ngSubmit)="onSubmit()" #form="ngForm">
            <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" [(ngModel)]="user.login" #login="ngModel" name="login" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" [(ngModel)]="user.password" #password="ngModel" name="password" required>
            <div class="checkbox mb-3">
                <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">
            
              <!-- <span *ngIf="!submitted">Sign in</span> -->
              <span *ngIf="submitted" class="spinner-border spinner-border-sm"></span>
            
            </button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
        </form>

        <p style="color:red" [hidden]="login.valid || !login.touched">Your name is required!</p>
    </div>
</div>