<div class="row">

    <div class="bandeau-presentation ">
        <div class="container my-5">
            <div class="bandeau-presentation_headline">Chouette Academy</div>
            <div>Le nid de connaissances</div>
            <div>Etudiez les sujets que vous souhaitez grâce à nos formateurs passionés.</div>
            <div>Et prenez votre envol !</div>
            <div>C'est chouette ! </div>
        </div>
    </div>


</div>





<h1>La page principale</h1>
<p>avec barre de recherche</p>
<p>liste des formations a venir</p>
<p>lisde de formation dispo en replay</p>

<i class="fas fa-camera"></i>