<div class="container-fluid">
    <div class="row">

        <div class="bandeau-presentation">
            <div class="container my-5">

                <div class="bandeau-presentation_headline">Chouette Academy</div>
                <div class="bandeau-presentation_sub-headline">Le nid de connaissances</div>
                <div class="bandeau-presentation_text">Etudiez les sujets que vous souhaitez grâce à nos formateurs
                    passionés.
                </div>
                <div class="bandeau-presentation_text">Et prenez votre envol !</div>
                <div class="bandeau-presentation_text">C'est chouette !</div>

            </div>
        </div>


    </div>
</div>


<div class="container container-larger mt-5 mb-5">
    <h3 class="mb-3">Les formations à venir</h3>
    <div class="row">
        <div *ngFor="let course of upcomingCourses" class="col-2 px-2">
            <app-course-card [course]="course"></app-course-card>
        </div>

    </div>


</div>

<div class="container container-larger mt-5 mb-5">
    <h3 class="mb-3">Les avis de nos utilisateurs</h3>
    <div class="row">

        <div class="col-4">
            <app-user-review></app-user-review>
        </div>
        <div class="col-4">
            <app-user-review></app-user-review>
        </div>
        <div class="col-4">
            <app-user-review></app-user-review>
        </div>


    </div>


</div>
