
<div class="container-fluid">
    <div class="row">

        <div class="bandeau-presentation">
            <div class="container my-5">

                <div class="bandeau-presentation_headline">Chouette Academy</div>
                <div class="bandeau-presentation_sub-headline">Le nid de connaissances</div>
                <div class="bandeau-presentation_text">Etudiez les sujets que vous souhaitez grâce à nos formateurs passionés.</div>
                <div class="bandeau-presentation_text">Et prenez votre envol !</div>
                <div class="bandeau-presentation_text">C'est chouette ! </div>


            </div>
        </div>


    </div>
</div>


<div class="container mt-5 mb-5">
    <h3 class="mb-3">Les formations à venir</h3>
    <div class="row">
        <div class="col-2 px-2">
            <app-course-card></app-course-card>
        </div>
        <div class="col-2 px-2">
            <app-course-card></app-course-card>
        </div>
        <div class="col-2 px-2">
            <app-course-card></app-course-card>
        </div>
        <div class="col-2 px-2">
            <app-course-card></app-course-card>
        </div>
        <div class="col-2 px-2">
            <app-course-card></app-course-card>
        </div>
        <div class="col-2 px-2">
            <app-course-card></app-course-card>
        </div>

    </div>



</div>

<div class="container mt-5 mb-5">
    <h3 class="mb-3">Les avis de nos utilisateurs</h3>
    <div class="row">

        <div class="col-4">
            <div class="card">

                <div class="card-body">
                    <div class="row align-items-center mx-0 mb-1">
                        <img src="https://www.fillmurray.com/65/65" class="rounded-circle ml-2">
                        <h5 class="card-title mb-0 ml-3">Bill Murray</h5>
                    </div>

                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur auctor, dui ac consectetur pretium, arcu arcu laoreet sapien, vitae pellentesque lorem lectus id est. Mauris faucibus purus at blandit porta. Duis aliquet, libero at
                        viverra
                    </p>

                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">

                <div class="card-body">
                    <div class="row align-items-center mx-0 mb-1">
                        <img src="https://www.fillmurray.com/65/65" class="rounded-circle ml-2">
                        <h5 class="card-title mb-0 ml-3">Bill Murray</h5>
                    </div>

                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur auctor, dui ac consectetur pretium, arcu arcu laoreet sapien, vitae pellentesque lorem lectus id est. Mauris faucibus purus at blandit porta. Duis aliquet, libero at
                        viverra
                    </p>

                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">

                <div class="card-body">
                    <div class="row align-items-center mx-0 mb-1">
                        <img src="https://www.fillmurray.com/65/65" class="rounded-circle ml-2">
                        <h5 class="card-title mb-0 ml-3">Bill Murray</h5>
                    </div>

                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur auctor, dui ac consectetur pretium, arcu arcu laoreet sapien, vitae pellentesque lorem lectus id est. Mauris faucibus purus at blandit porta. Duis aliquet, libero at
                        viverra
                    </p>

                </div>
            </div>
        </div>


    </div>


</div>