<footer id="footer">
    <hr>
    <div class="container container-larger" style="padding-top: 1em;padding-bottom: 1em;">

        <div class="row align-items-center mx-0">
            <a routerLink="/">
                <img class="footer-logo" src="assets/images/logo-inline-transparent.png" alt="logo">
            </a>

            <span class="ml-3">&copy; 2020</span>

            <span class="ml-auto love">Fait avec &#10084;&#65039; par <a href="https://www.linkedin.com/in/rogez/"
                                                                         target="_blank">Fredy ROGEZ</a> et <a
                href="https://www.linkedin.com/in/paul-petit/" target="_blank">Paul PETIT</a> </span>

        </div>
    </div>
    <hr>

</footer>
