<div style="height: 100%">
    <div id="chat-messages-container" (scroll)="scrolled($event)" class="overflow-auto" style="height: 80%"
         #scrollFrame>

        <app-chat-message #item
                          *ngFor="let message of messages"
                          username="{{message.user}}"
                          message="{{message.content}}">
        </app-chat-message>

    </div>

    <form (ngSubmit)="sendMessage(textAreaChat.value); textAreaChat.value=''">

        <div class="form-group">
            <input type="text" #textAreaChat style="resize: none" class="form-control" id="exampleFormControlTextarea1"
                   placeholder="Envoyer un message"/>
        </div>
        <div class="d-flex">
            <button type="submit"
                    class="btn btn-primary btn-sm ml-auto">
                Chat
            </button>
        </div>
    </form>

</div>
