<div style="height: 100%">
    <div id="chat-messages-container" (scroll)="scrolled($event)" class="overflow-auto" style="height: 80%"
         #scrollFrame>

        <app-chat-message #item
                          *ngFor="let message of messages"
                          username="{{message.user}}"
                          message="{{message.content}}">
        </app-chat-message>

    </div>

    <div>

        <div class="form-group">
            <textarea #textAreaChat style="resize: none" class="form-control" id="exampleFormControlTextarea1" rows="1"
                      placeholder="Envoyer un message"></textarea>
        </div>
        <div class="d-flex">
            <button  (click)="sendMessage(textAreaChat.value)" type="button"
                    class="btn btn-primary btn-sm ml-auto">
                Chat
            </button>
        </div>
    </div>

</div>
