<app-narbar></app-narbar>

<div class="container-fluid">
    <div class="row">
        <div class="col-9" style="background-color: aqua; height: 800px">
            <video src="https://interactive-examples.mdn.mozilla.net/media/examples/flower.mp4" controls>
                Votre navigateur ne gère pas l'élément <code>video</code>.
            </video>
        </div>
        <div class="col-3" style="background-color: antiquewhite ; height: 800px">
            <app-chat></app-chat>
        </div>
    </div>
</div>
