<div *ngIf="!hide" class="test">
    <p>Test Component</p>
    <!--<button class="btn btn-danger" (click)="testSyncrone()">Test Synchrone</button>
    <br>
    <button class="btn btn-danger" (click)="testAsynchrome()">Test Asynchrone</button>
    <br>
    <button class="btn btn-danger" (click)="testLogin()">Test Login</button>
    <br>
    <br>
    <button class="btn btn-danger" (click)="testRequetteavectoken()">Test Avec token</button>
    <br>-->
    <!--<button class="btn btn-danger" (click)="testTimestamp()">Test TimeStamp</button>
    <br>-->
    <button class="btn btn-danger" (click)="testApiServiceOptions()">Test Api Options</button>
    <br>
    <button (click)="hideClick()">Hide</button>
</div>
