<!--
<div class="container">


  <div class="row mt-5">
    <div class="col-8 pr-3">

      <div>
        <h1>Formation Complète Développeur Web</h1>
        <h2>Le Développement Web de A à Z. Apprenez HTML, CSS, Javascript, jQuery, Bootstrap, PHP, MySQL,
          Wordpress...</h2>

        <h4>44 958 participants inscrits</h4>
        <h5>Nom du formateur</h5>
      </div>

      <div>
        <h3>Prérequis</h3>
        <ul>
          <li>Prérequis 1</li>
          <li>Prérequis 2</li>
          <li>Prérequis 3</li>
          <li>Prérequis 4</li>
        </ul>
      </div>

      <div>
        <h3>Description</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates voluptatum excepturi iure
          quisquam
          quis est corrupti aut voluptas nobis aliquam tempore ipsa numquam ipsum earum quod, asperiores
          exercitationem dignissimos perspiciatis.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates voluptatum excepturi iure
          quisquam
          quis est corrupti aut voluptas nobis aliquam tempore ipsa numquam ipsum earum quod, asperiores
          exercitationem dignissimos perspiciatis.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates voluptatum excepturi iure
          quisquam
          quis est corrupti aut voluptas nobis aliquam tempore ipsa numquam ipsum earum quod, asperiores
          exercitationem dignissimos perspiciatis.</p>
      </div>

      <div class="row">

        <div class="col-4">
          <img src="https://www.fillmurray.com/65/65" class="rounded-circle ml-2">

        </div>
        <div class="col-8">
          <h3>Le formateur</h3>
          <p><b>La description du formateur</b> Lorem ipsum, dolor sit amet consectetur adipisicing elit. In
            dolores cumque temporibus beatae magnam provident, eveniet quasi ipsum minima quaerat ab rerum
            perspiciatis hic saepe laboriosam culpa veritatis obcaecati nihil.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. In
            dolores cumque temporibus beatae magnam provident, eveniet quasi ipsum minima quaerat ab rerum
            perspiciatis hic saepe laboriosam culpa veritatis obcaecati nihil.</p>
        </div>


      </div>


    </div>
    <div class="col-4">
      <div class="jumbotron text-center">
        <div class="text-center">
          <video src="http://v2v.cc/~j/theora_testsuite/320x240.ogg" controls>
            Votre navigateur ne gère pas l'élément <code>video</code>.
          </video>
        </div>
        <h1>Gratuit</h1>

        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">S'inscrire</a>
        </p>
      </div>
    </div>
  </div>


</div>
-->

<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
    <div class="row bandeau">
        <div class="container my-5">
            <h1>{{course?.title}}</h1>
            <h4>{{course?.nbSubcribers}} participants inscrits</h4>
            <h5>Par {{course?.instructor?.fullName}}</h5>
        </div>
    </div>
</div>


<div class="container">
    <div class="row mt-5">
        <div class="col-8 pr-3">

            <!--<div class="mb-5">
                <div class="apprendre">
                    <h3>Ce que vous allez apprendre</h3>
                    <div class="row">
                        <div class="col-6">
                            <ul>
                                <li>Sujet 1</li>
                                <li>Sujet 2</li>
                                <li>Sujet 3</li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul>
                                <li>Sujet 4</li>
                                <li>Sujet 5</li>
                                <li>Sujet 6</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>-->


           <!-- <div class="mb-5 apprendre">
                <h3>Prérequis</h3>
                <div class="row">
                    <div class="col-6">
                        <ul>
                            <li>Prérequis 1</li>
                            <li>Prérequis 2</li>
                            <li>Prérequis 3</li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul>
                            <li>Prérequis 4</li>
                            <li>Prérequis 5</li>
                            <li>Prérequis 6</li>
                        </ul>
                    </div>
                </div>
            </div>-->

            <div class="mb-5 apprendre">
                <h3>Description</h3>
                <p>{{course?.description}}</p>
            </div>

            <div class="row mx-0 mb-5 apprendre align-items-center">

                <div class="col-4 d-flex">
                    <img style="width: 120px; height: 120px" src="{{ course?.instructor?.pictureUrl || '/assets/images/user.jpg'}}" class="rounded-circle mx-auto my-auto"
                         alt="formateur">

                </div>
                <div class="col-8">
                    <h3>{{course?.instructor?.fullName}}</h3>
                    <p>{{course?.instructor?.bio}}</p>
                    <div>
                        <a *ngIf="course?.instructor?.websiteUrl" href="{{course.instructor.websiteUrl}}" target="_blank" class="social" title="Website"><i class="fas fa-globe"></i></a>
                        <a *ngIf="course?.instructor?.linkedInUrl" href="{{course.instructor.linkedInUrl}}" href="#" target="_blank" class="social" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
                        <a *ngIf="course?.instructor?.twitterUrl" href="{{course.instructor.twitterUrl}}" href="#" target="_blank" class="social" title="Twitter"><i class="fab fa-twitter-square"></i></a>
                    </div>
                </div>


            </div>


        </div>
        <div class="col-4">
            <div class="jumbotron text-center">
                <div class="text-center">
                    <!--<video src="http://v2v.cc/~j/theora_testsuite/320x240.ogg" controls>
                        Votre navigateur ne gère pas l'élément <code>video</code>.
                    </video>-->
                    <img class="w-100" src="{{course?.pictureUrl}}" alt="course picture">
                </div>
                <h1>Gratuit</h1>

                <p class="lead">
                    <ng-container *ngIf="authenticationService.isAuthenticated()">
                        <button
                            *ngIf="!course?.subscribed" class="btn btn-primary btn-lg" (click)="subscribe()">S'inscrire
                        </button>
                        <button
                            *ngIf="course?.subscribed" class="btn btn-danger btn-lg" (click)="unsubscribe()">Se désinscrire
                        </button>
                        <button
                            *ngIf="course?.subscribed && course?.live" class="btn btn-primary btn-lg" (click)="showLive()"><i class="fas fa-video"></i>Voir le live
                        </button>
                    </ng-container>
                    <ng-container *ngIf="!authenticationService.isAuthenticated()">
                        <button (click)="connect()"
                                class="btn btn-primary btn-lg">
                            Connectez-vous pour vous inscrire
                        </button>
                    </ng-container>

                </p>
            </div>
        </div>


    </div>
</div>
