<!--
<div class="container">


  <div class="row mt-5">
    <div class="col-8 pr-3">

      <div>
        <h1>Formation Complète Développeur Web</h1>
        <h2>Le Développement Web de A à Z. Apprenez HTML, CSS, Javascript, jQuery, Bootstrap, PHP, MySQL,
          Wordpress...</h2>

        <h4>44 958 participants inscrits</h4>
        <h5>Nom du formateur</h5>
      </div>

      <div>
        <h3>Prérequis</h3>
        <ul>
          <li>Prérequis 1</li>
          <li>Prérequis 2</li>
          <li>Prérequis 3</li>
          <li>Prérequis 4</li>
        </ul>
      </div>

      <div>
        <h3>Description</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates voluptatum excepturi iure
          quisquam
          quis est corrupti aut voluptas nobis aliquam tempore ipsa numquam ipsum earum quod, asperiores
          exercitationem dignissimos perspiciatis.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates voluptatum excepturi iure
          quisquam
          quis est corrupti aut voluptas nobis aliquam tempore ipsa numquam ipsum earum quod, asperiores
          exercitationem dignissimos perspiciatis.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates voluptatum excepturi iure
          quisquam
          quis est corrupti aut voluptas nobis aliquam tempore ipsa numquam ipsum earum quod, asperiores
          exercitationem dignissimos perspiciatis.</p>
      </div>

      <div class="row">

        <div class="col-4">
          <img src="https://www.fillmurray.com/65/65" class="rounded-circle ml-2">

        </div>
        <div class="col-8">
          <h3>Le formateur</h3>
          <p><b>La description du formateur</b> Lorem ipsum, dolor sit amet consectetur adipisicing elit. In
            dolores cumque temporibus beatae magnam provident, eveniet quasi ipsum minima quaerat ab rerum
            perspiciatis hic saepe laboriosam culpa veritatis obcaecati nihil.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. In
            dolores cumque temporibus beatae magnam provident, eveniet quasi ipsum minima quaerat ab rerum
            perspiciatis hic saepe laboriosam culpa veritatis obcaecati nihil.</p>
        </div>


      </div>


    </div>
    <div class="col-4">
      <div class="jumbotron text-center">
        <div class="text-center">
          <video src="http://v2v.cc/~j/theora_testsuite/320x240.ogg" controls>
            Votre navigateur ne gère pas l'élément <code>video</code>.
          </video>
        </div>
        <h1>Gratuit</h1>

        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">S'inscrire</a>
        </p>
      </div>
    </div>
  </div>


</div>
-->

<div class="container-fluid">
    <div class="row bandeau">
        <div class="container my-5">
            <h1>Formation Complète Développeur Web</h1>
            <h2>Le Développement Web de A à Z. Apprenez HTML, CSS, Javascript, jQuery, Bootstrap, PHP, MySQL,
                Wordpress...</h2>

            <h4>44 958 participants inscrits</h4>
            <h5>Nom du formateur</h5>
        </div>
    </div>
</div>


<div class="container">
    <div class="row mt-5">
        <div class="col-8 pr-3">

            <div class="mb-5">
                <div class="apprendre">
                    <h3>Ce que vous allez apprendre</h3>
                    <div class="row">
                        <div class="col-6">
                            <ul>
                                <li>Sujet 1</li>
                                <li>Sujet 2</li>
                                <li>Sujet 3</li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul>
                                <li>Sujet 4</li>
                                <li>Sujet 5</li>
                                <li>Sujet 6</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>


            <div class="mb-5 apprendre">
                <h3>Prérequis</h3>
                <div class="row">
                    <div class="col-6">
                        <ul>
                            <li>Prérequis 1</li>
                            <li>Prérequis 2</li>
                            <li>Prérequis 3</li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul>
                            <li>Prérequis 4</li>
                            <li>Prérequis 5</li>
                            <li>Prérequis 6</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="mb-5 apprendre">
                <h3>Description</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates voluptatum excepturi iure
                    quisquam
                    quis est corrupti aut voluptas nobis aliquam tempore ipsa numquam ipsum earum quod, asperiores
                    exercitationem dignissimos perspiciatis.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates voluptatum excepturi iure
                    quisquam
                    quis est corrupti aut voluptas nobis aliquam tempore ipsa numquam ipsum earum quod, asperiores
                    exercitationem dignissimos perspiciatis.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates voluptatum excepturi iure
                    quisquam
                    quis est corrupti aut voluptas nobis aliquam tempore ipsa numquam ipsum earum quod, asperiores
                    exercitationem dignissimos perspiciatis.</p>
            </div>

            <div class="row mx-0 mb-5 apprendre">

                <div class="col-4 d-flex">
                    <img src="https://www.fillmurray.com/120/120" class="rounded-circle mx-auto my-auto"
                         alt="formateur">

                </div>
                <div class="col-8">
                    <h3>Le formateur</h3>
                    <p><b>La description du formateur</b> Lorem ipsum, dolor sit amet consectetur adipisicing elit. In
                        dolores cumque temporibus beatae magnam provident, eveniet quasi ipsum minima quaerat ab rerum
                        perspiciatis hic saepe laboriosam culpa veritatis obcaecati nihil.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. In
                        dolores cumque temporibus beatae magnam provident, eveniet quasi ipsum minima quaerat ab rerum
                        perspiciatis hic saepe laboriosam culpa veritatis obcaecati nihil.</p>
                </div>


            </div>


        </div>
        <div class="col-4">
            <div class="jumbotron text-center">
                <div class="text-center">
                    <video src="http://v2v.cc/~j/theora_testsuite/320x240.ogg" controls>
                        Votre navigateur ne gère pas l'élément <code>video</code>.
                    </video>
                </div>
                <h1>Gratuit</h1>

                <p class="lead">
                    <button *ngIf="authenticationService.isAuthenticated()" class="btn btn-primary btn-lg">S'inscrire
                    </button>
                    <button (click)="connect()" *ngIf="!authenticationService.isAuthenticated()"
                            class="btn btn-primary btn-lg">
                        Connectez-vous pour vous inscrire
                    </button>
                </p>
            </div>
        </div>


    </div>
</div>
